body {
  text-align: center;
  background-color: #ffffff!important;
  margin: 0;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;

}

footer {
  color: #b3b3b3;
  font-family: sans-serif;
  background-color: rgb(31, 31, 31);
  height: 3vh;
  bottom: 0;
  width: 100%;
  position: fixed;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: auto;
}
a{
  text-decoration: none!important;
  color: #b3b3b3!important;
  margin-left: 7px;
}

a:hover{
  color: #f1f1f1!important;
}

#navbarNavAltMarkup{
  margin-right: 15%;
}

.logo{
  margin-left: 3%;
}

.title{
  margin: 5% 0 0;
  font-size: 5rem;
  text-align: center;
}

.w {
  background-image: url("images/tom1.png");
}

.a {
  background-image: url("images/tom2.png");
}

.s {
  background-image: url("images/tom3.png");
}

.d {
  background-image: url("images/tom4.png");
}

.j {
  background-image: url("images/snare.png");
}

.k {
  background-image: url("images/crash.png");
}

.l {
  background-image: url("images/kick.png");
}

.violao{
  background-image: url("/images/violao1.png");
  background-size: cover;
}

.set {
  margin: 10% auto;
  text-align: center;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}

.meu_container{
margin: 0 auto 0!important;
width: 95%!important;
}

.row{
  justify-content: center;
}
.container-fluid,
.container {
    max-width: 1200px;
}

.card-container {
    padding: 100px 0px;
    -webkit-perspective: 1000;
    perspective: 1000;
}


.profile-card-2 {
    background-color: #FFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    height: 500px;
    margin-top: 30px;
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

.profile-card-2 {
    transition: all linear 0.25s;
}

.profile-card-2 .profile-name {
    position: absolute;
    left: 30px;
    bottom: 70px;
    font-size: 30px;
    color: #FFF;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    transition: all linear 0.25s;
    opacity: 0;
}
.profile-card-2:hover .profile-name {
  transition: all linear 0.3s;
  opacity: 1;
}
.profile-card-2 .profile-icons {
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: #FFF;
    transition: all linear 0.25s;
}

.profile-card-2:hover {
  -webkit-filter: grayscale(0);
  filter: none;
}

.profile-card-2 .profile-username {
    position: absolute;
    bottom: 50px;
    left: 30px;
    color: #FFF;
    font-size: 13px;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-icons .fa {
    margin: 5px;
}

.profile-card-2:hover .profile-name {
    bottom: 80px;
}

.profile-card-2:hover .profile-username {
    bottom: 60px;
}

.profile-card-2:hover .profile-icons {
    right: 40px;
}

